Project/_PackageInt/*

models/*/*.gltf
models/*/*/*.gltf
models/*/*.bin
models/*/*/*.bin


Project/Packages/*/ContentInfo/
Project/Packages/*/MaterialLibs/
Project/Packages/*/scenery/
Project/Packages/*/SimObjects/
Project/Packages/*/CGL/
Project/Packages/*/*.json
